<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Reactive agent</title>

	<base href="<%= htmlWebpackPlugin.options.baseUrl %>">

	<meta property="og:title" content="Reactive agent">
	<meta property="og:description" content="Basic implementations of a few machine learning concepts used for the design of a reactive agent">
	<meta property="og:url" content="https://sheeps.gitlab.io/reactive-agent">
	<meta property="og:image" content="https://sheeps.gitlab.io/reactive-agent/static/images/social.jpg">

	<link rel="icon" href="static/images/favicon.png">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<div id="application"></div>
</body>
</html>
