<template>
	<md-layout class="content">
		<ai-grid :grid="grid.data" :lines="grid.lines" :columns="grid.columns" :debug="debug" :agent="agent"></ai-grid>
		<ai-sidebar :console="console">
			<div v-if="reset || !population">
				<md-input-container>
					<label for="length">Individuals ({{ input.length }})</label>
					<md-input id="length" type="range" min="50" max="1000" step="50" v-model.number="input.length">
				</md-input-container>
				<md-input-container>
					<label for="crossover">Crossover rate ({{ input.crossover }}%)</label>
					<md-input id="crossover" type="range" min="0" max="100" step="1" v-model.number="input.crossover">
				</md-input-container>
				<md-input-container>
					<label for="mutate">Mutation rate ({{ input.mutate }}%)</label>
					<md-input id="mutate" type="range" min="0" max="100" step="1" v-model.number="input.mutate">
				</md-input-container>

				<md-button class="md-raised md-default" title="Restore actual population" @click="cancel" v-show="reset">Cancel</md-button>
				<md-button class="md-raised md-primary" title="Generate a new population" @click="start" v-show="true">Start</md-button>
			</div>
			<div v-else>
				<md-button class="md-raised md-primary" title="Start to move the agent" @click="start" v-show="!running">Start</md-button>
				<md-button class="md-raised md-warn" title="Stop the agent" @click="stop" v-show="running">Stop</md-button>
				<md-button class="md-raised md-primary" title="Evolve to the next generation" @click="evolve" v-show="agent">Evolve</md-button>
				<md-button class="md-raised md-default" title="Move the agent to a random position" @click="random" v-show="agent">Random</md-button>
				<md-button class="md-raised md-warn" title="Generate a brand new population" @click="restart" v-show="agent">Restart</md-button><br>
				<md-checkbox id="debug" title="Display the position of the cells" v-model="debug">Debug</md-checkbox>
			</div>
		</ai-sidebar>
	</md-layout>
</template>

<script>
	import Genetic from '../stores/genetic/genetic.store'
	import Console from '../stores/console.store'
	import Grid from '../stores/grid.store'

	export default {
		name: 'genetic',
		data () {
			const grid		= new Grid(12, 12)
			const console	= new Console()

			return {
				grid, console,
				population:	null,
				running:	null,
				debug:		false,
				reset:		false,
				input: {
					length:		100,
					crossover:	40,
					mutate:		10
				}
			}
		},
		methods: {
			evolve () {
				this.population.evolve()
			},
			start () {
				if (this.reset || !this.population) {
					const { input, grid, console } = this

					if (this.reset) console.log('\n')

					this.population	= new Genetic.Population(grid, console, input.length, input.crossover / 100, input.mutate / 100)
					this.reset		= false
				}

				let start = null

				const move = timestamp => requestAnimationFrame(() => {
					if (!start) start = timestamp
					if (timestamp - start > 200) {
						start = timestamp
						this.agent.move()
					}

					this.running = requestAnimationFrame(move)
				})

				this.running = requestAnimationFrame(move)
			},
			stop () {
				if (this.running === null) return

				cancelAnimationFrame(this.running)
				this.running = null
			},
			random () {
				const { utils } = Genetic

				this.agent.position		= utils.randomPosition(this.grid)
				this.agent.orientation	= utils.randomOrientation()
			},
			restart () {
				this.stop()

				this.reset = true
			},
			cancel () {
				this.reset = false
			}
		},
		computed: {
			agent () {
				if (this.reset) return null

				const { population } = this

				return population && population.fittest
			}
		}
	}
</script>
