<template>
	<md-layout class="container">
		<md-whiteframe md-elevation="24">
			<md-layout class="grid" md-column :class="{ edit: edit }">
				<md-layout v-for="i in lines" md-row>
					<md-layout class="element" v-for="j in columns" :class="{ wall: grid[(i - 1) * columns + j - 1], boundary: i === 1 || j === 1 || i === lines || j === columns }">
						<div class="cell" @click="toggle(i, j)">
							<span v-show="debug">{{ i }}, {{ j }}</span>
						</div>
					</md-layout>
				</md-layout>
				<div class="agent" :style="{ width: `${width}px`, height: `${height}px`, transform: `translate3d(${x}px, ${y}px, 0) rotate(${angle}deg)` }" v-if="agent">
					<svg class="agent-mouth" viewBox="0 0 64 64">
						<polygon points="4,30 60,4 60,60"/>
					</svg>
				</div>
			</md-layout>
		</md-whiteframe>
	</md-layout>
</template>

<script>
	export default {
		name: 'grid',
		props: {
			lines: {
				type:		Number,
				required:	true
			},
			columns: {
				type:		Number,
				required:	true
			},
			grid: {
				type:		Uint8Array,
				required:	true
			},
			debug: {
				type:		Boolean,
				default:	false
			},
			agent: Object
		},
		methods: {
			toggle (i, j) {
				if (!this.edit) return

				const { grid } = this
				const index = (i - 1) * this.columns + j - 1

				grid[index] = !grid[index]
				this.$forceUpdate()
			}
		},
		computed: {
			edit () {
				return !this.agent
			},
			x () {
				return this.height * (this.agent.position % this.columns)
			},
			y () {
				return this.height * Math.floor(this.agent.position / this.columns)
			},
			width () {
				return 500 / this.columns
			},
			height () {
				return 500 / this.lines
			},
			angle () {
				return this.agent.orientation * 90
			}
		}
	}
</script>

<style>
	.container{
		justify-content: center;
		align-items: center;
	}

	.grid{
		width: 500px; height: 500px;
		background-color: #ccc;
	}

	.element{
		justify-content: center;
		align-items: center;
		margin: 1px;
		color: #aaa;
		background-color: #fff;
		transition: background-color .1s;
	}
	.element.wall{ background-color: #444; }
	.grid.edit .element:not(.boundary):hover{ background-color: #aaa; }

	.cell{
		width: 100%; height: 100%;
	}

	.agent{
		position: absolute;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		top: 0; left: 0;
		transition: transform .2s;
	}
	.agent::after{
		content: '';
		width: 70%; height: 70%;
		margin: 15%;
		background-color: #e53935;
		border-radius: 50%;
	}

	.agent-mouth{
		position: absolute;
		fill: #fff;
		width: 50%;
	}
</style>
