<template>
	<md-layout class="content">
		<ai-grid :grid="grid.data" :lines="grid.lines" :columns="grid.columns" :debug="debug"></ai-grid>
		<ai-sidebar :console="network.console">
			<md-button class="md-raised md-primary" title="Train" @click="train" v-show="!epochs">Train</md-button>
			<md-button class="md-raised md-warn" title="Reset the network" @click="reset" v-show="epochs">Reset</md-button><br>
			<md-checkbox id="debug" v-model="debug">Debug</md-checkbox>
		</ai-sidebar>
	</md-layout>
</template>

<script>
	import Grid from '../stores/grid.store'
	import Neural from '../stores/neural/neural.store'

	export default {
		name: 'neural',
		data () {
			const grid		= new Grid(0, 0)
			const network	= new Neural.Network([2, 2, 1], .35)

			return {
				grid, network,
				debug:	false,
				epochs:	null
			}
		},
		methods: {
			train () {
				const { network }			= this
				const { examples }			= Neural
				const { layers, console }	= network
				const outputLayer			= layers[layers.length - 1].tlus
				const epochs				= this.epochs = network.train(examples, 0.001)

				console.log(`---\nINFO: Training a XOR operator\nusing 2 input units, 1 hidden layer of 2 units and 1 output unit\n(the training of the agent on the grid will be added later)\n---\n`)
				console.log(`${epochs} epochs needed to train the network`)

				for (let example of examples) {
					const results = []

					network.activate(example.inputs)

					for (const { output } of outputLayer) results.push(Math.round(output * 100000) / 100000)

					console.log(`Example [${example.inputs.join(', ')}] expected [${example.target.join(', ')}] and get [${results.join(', ')}]`)
				}
			},
			reset () {
				this.network	= new Neural.Network([2, 2, 1], .35)
				this.epochs		= null
			}
		}
	}
</script>
