<template>
	<md-layout class="content">
		<ai-grid :grid="grid.data" :lines="grid.lines" :columns="grid.columns" :debug="debug"></ai-grid>
		<ai-sidebar>
			<md-button class="md-raised md-primary">Start</md-button>
			<md-button class="md-raised md-warn">Stop</md-button><br>
			<md-checkbox id="debug" v-model="debug">Debug</md-checkbox>
		</ai-sidebar>
	</md-layout>
</template>

<script>
	import Grid from '../stores/grid.store'

	export default {
		name: 'reinforcement',
		data () {
			const grid = new Grid(12, 12)

			return {
				grid,
				debug: false
			}
		}
	}
</script>
