<template>
	<md-layout md-flex="40">
		<md-whiteframe class="sidebar" md-elevation="2">
			<h2 class="md-headline">Actions</h2>
			<div class="sidebar-content"><slot></slot></div>
			<h2 class="md-headline" v-if="console">
				Console
				<span class="console-reset" title="Remove all logs from the console" @click="reset">Reset</span>
			</h2>
			<pre class="console" v-if="console">{{ console.data }}<md-spinner md-indeterminate class="md-accent" v-show="loading"></md-spinner></pre>
		</md-whiteframe>
	</md-layout>
</template>

<script>
	export default {
		name: 'sidebar',
		props: {
			console: Object,
			loading: Boolean
		},
		methods: {
			reset () {
				if (this.console) this.console.reset()
			}
		}
	}
</script>

<style>
	.sidebar{
		display: flex;
		flex-direction: column;
		width: 100%; height: 100%;
		background-color: #fff;
	}

	.sidebar-content{
		padding-left: 20px;
		padding-right: 20px;
	}
	.sidebar-content .md-button{
		margin-right: 16px;
		margin-left: 0;
	}

	.sidebar .md-headline{ margin: 30px 20px 5px 20px; }

	.console{
		flex-grow: 1;
		margin-top: 5px;
		margin-bottom: 0;
		padding-bottom: 40px !important;
		padding: 20px;
		background-color: #f6f6f6;
		border-top: 1px solid #e0e0e0;
		overflow-y: auto;
	}

	.console-reset{
		float: right;
		font-size: 13px;
		color: #aaa;
		cursor: pointer;
	}
	.console-reset:hover{ color: #f44336; }
</style>
