<template>
	<main>
		<md-tabs class="menu" md-fixed :md-dynamic-height="false" md-elevation="1">
			<md-tab id="genetic" md-label="Genetic">
				<ai-genetic></ai-genetic>
			</md-tab>

			<md-tab id="reinforcement" md-label="Reinforcement" :md-disabled="true">
				<ai-reinforcement></ai-reinforcement>
			</md-tab>

			<md-tab id="neural" md-label="Neural networks">
				<ai-neural></ai-neural>
			</md-tab>
		</md-tabs>
		<a href="//gitlab.com/sheeps/reactive-agent" class="github">
			<img src="~assets/images/github.png" alt="GitHub">
			Return to the repository
		</a>
	</main>
</template>

<script>
	export default {
		name: 'application',
		components: {
			'ai-genetic'		: require('./components/Genetic'),
			'ai-reinforcement'	: require('./components/Reinforcement'),
			'ai-neural'			: require('./components/Neural')
		}
	}
</script>


<style src="vue-material/dist/vue-material.css"></style>
<style>
	body{ background-color: #eee !important; }

	.menu{ height: 100vh; }

	.menu .md-tabs-navigation{
		background-color: white !important;
		height: 55px;
	}

	.menu .md-tab-header{
		font-weight: 300 !important;
		font-size: 16px;
		color: #444 !important;
	}
	.menu .md-tab-header.md-active{ color: #444 !important; }
	.menu .md-tab-header.md-disabled{
		cursor: not-allowed;
		opacity: .4;
	}

	.menu .md-tabs-content, .menu .md-tab, .content{ height: 100% !important; }

	.menu .md-tab{ padding: 0; }

	.github{
		position: fixed;
		display: flex;
		align-items: center;
		top: 0; left: 20px;
		height: 50px;
		z-index: 1;
		font-weight: 300;
		color: #444 !important;
		transition: color .2s;
	}
	.github img{
		width: 40px;
		margin-right: 10px;
		opacity: .5;
		transition: opacity .2s;
	}
	.github:hover{
		color: #e91e63 !important;
		text-decoration: none !important;
	}
	.github:hover img{ opacity: .7; }
</style>
